:root {
    --gl-controls-background: rgba(61, 21, 21, 0.3);


    --gl-fill-one: #F3FBFB;
    --gl-fill-two: #A35B12;

    --gl-top-left: #acd3ef;
    --gl-the-rest: #1c93d3;
    --gl-blue: #0000FF;

    --av-black: #222;
    --av-black-light: #444;

    --av-grey: #bbb;

    --av-white: #eee;

    --av-blue-purple: #5068b7;
    --av-red: rgba(161, 15, 15, 0.685);
    --av-green: rgb(23, 160, 80);
    --av-pink: #e9437a;

    --cyan: #0FF;
    --cyan-dark: rgb(0, 139, 139);

}